# Mobile runtime defines for Flutter
BASE_URL=http://127.0.0.1:8000
GOOGLE_SERVER_CLIENT_ID=308259929553-9oame596io3s4lcj9cdb5db6v3i6f6rk.apps.googleusercontent.com
# Optional for iOS/web flows
GOOGLE_CLIENT_ID=
